@import url(/styles/reset.css);

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

:root {
    --accent: #CDA274;
    --light-black: #292F36;
    --secondary: #F4F0EC;
    --gray: #4D5053;
    --border: #E7E7E7;
    --divider: #E5E5E5;
    --white: #FFFFFF;
    --display: "DM Serif Display", Serif;
}

body {
    font-family: "Jost", sans-serif;
}

.header {
    padding: 26px 120px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 177px;
    height: 50px;
}

.header-ul {
    display: flex;
    column-gap: 40px;
}

.header-ul-li-a {
    font-size: 19px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: var(--light-black);
    padding: 12px 0 20px;
    transition: .3s;
}

.header-ul-li-a:hover {
    color: var(--accent);
}

.main {
    display: flex;
    flex-direction: column;
}

.main-hero {
    display: flex;
    flex-direction: column;
    padding: 195px 120px 250px;
    border-radius: 0 0 0 290px;
    background: url(/assets/hero-background.jpg) no-repeat center/cover;
}

.main-hero-title {
    font-family: var(--display);
    font-size: 80px;
    line-height: 120%;
    color: var(--light-black);
    width: 70%;
    padding-bottom: 20px;
}

.main-hero-descr {
    font-size: 22px;
    line-height: 150%;
    color: var(--gray);
    width: 50%;
    padding-bottom: 35px;
}

.main-hero-a {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    border-radius: 18px;
    background: var(--light-black);
    width: fit-content;
    padding: 22px 68px 22px 34px;
    position: relative;
}

.main-hero-a::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 40px;
    background: url(/assets/icons/wide-arrow.svg);
    margin-left: 20px;
    margin-top: -5px;
}

.main-features {
    padding: 100px 120px;
    display: flex;
    justify-content: space-between;
}

.main-features-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    padding: 35px 50px 70px;
}

.main-features-card-title {
    font-family: var(--display);
    color: var(--light-black);
    font-size: 25px;
    line-height: 156%;
    text-align: center;
    padding-bottom: 18px;
}

.main-features-card-descr {
    color: var(--gray);
    font-size: 22px;
    line-height: 150%;
    text-align: center;
}

.main-features-card-a {
    color: var(--gray);
    position: relative;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 35px;
}

.main-features-card-a::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 17px;
    background: url(/assets/icons/thin-arrow.svg);
    margin-top: 4px;
    margin-left: 6px;
}

.main-estimate {
    display: flex;
    justify-content: space-between;
    padding: 0 120px 140px;
    align-items: center;
    margin-bottom: 140px;
}

.main-estimate-text {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
}

.main-estimate-title {
    font-family: var(--display);
    font-size: 50px;
    line-height: 130%;
    color: var(--light-black);
    padding-bottom: 42px;
}

.main-estimate-descr {
    font-size: 22px;
    line-height: 150%;
    color: var(--gray);
    padding-bottom: 30px;
}

.main-estimate-call {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.main-estimate-call-icon {
    background: var(--secondary);
    border-radius: 50%;
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-estimate-call-icon::after {
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    background: url(/assets/icons/phone.svg);
}

.main-estimate-call-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.main-estimate-call-text-a {
    font-size: 24px;
    line-height: 150%;
    color: var(--gray);
}

.main-estimate-call-text-span {
    font-size: 22px;
    line-height: 150%;
    color: var(--gray);
}

.main-estimate-a {
    border-radius: 18px;
    background: var(--light-black);
    padding: 22px 68px 22px 34px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    width: fit-content;
    position: relative;
}

.main-estimate-a::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 40px;
    background: url(/assets/icons/wide-arrow.svg);
    margin-left: 20px;
    margin-top: -5px;
}

.main-estimate-img {
    width: calc(50% - 8px);
    border-radius: 0 326px 0 123px;
}

.main-reviews {
    display: flex;
    flex-direction: column;
    margin: 0 120px 140px;
    padding: 104px 50px 120px;
    align-items: center;
    background: var(--secondary);
    border-radius: 70px;
}

.main-reviews-title {
    font-family: var(--display);
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    color: var(--light-black);
    width: 50%;
    padding-bottom: 45px;
}

.main-reviews-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 16px;
    padding: 0 50px 120px;
}

.main-reviews-wrapper-card {
    flex: 1 1 auto;
    padding: 50px 35px 45px 30px;
    background: var(--white);
    border-radius: 30px;
}

.main-reviews-wrapper-card-info {
    display: flex;
    align-items: center;
    padding-bottom: 26px;
}

.main-reviews-wrapper-card-info-img {
    border-radius: 50%;
    width: 77px;
    height: 77px;
}

.main-reviews-wrapper-card-info-text {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.main-reviews-wrapper-card-info-text-title {
    font-family: var(--display);
    font-size: 25px;
    line-height: 150%;
    color: var(--light-black);
}

.main-reviews-wrapper-card-info-text-span {
    font-size: 18px;
    line-height: 150%;
    color: var(--gray);
}

.main-reviews-wrapper-card-descr {
    font-size: 20px;
    line-height: 150%;
    color: var(--gray);
}

.main-brands {
    overflow-x: hidden;
    width: 100%;
    padding: 0 120px 100px;
}

.main-brands-wrapper {
    display: flex;
    align-items: center;
    column-gap: 150px;
    animation: scroll 20s linear infinite;
    width: calc(2000px);
}

.main-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 80px;
}

.main-projects-title {
    font-family: var(--display);
    font-size: 47px;
    line-height: 133%;
    text-align: center;
    color: var(--light-black);
    padding-bottom: 20px;
}

.main-projects-descr {
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: var(--gray);
    width: 70%;
    padding-bottom: 70px;
}

.main-projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
    padding: 0 10px 60px;
}

.main-projects-wrapper-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 20px);
}

.main-projects-wrapper-card-img {
    width: 100%;
    border-radius: 0 80px 0 0;
}

.main-projects-wrapper-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-projects-wrapper-card-info-text {
    display: flex;
    flex-direction: column;
}

.main-projects-wrapper-card-info-title {
    font-family: var(--display);
    font-size: 24px;
    line-height: 156%;
    color: var(--light-black);
    padding-top: 24px;
}

.main-projects-wrapper-card-info-subtitle {
    font-size: 22px;
    line-height: 150%;
    color: var(--gray);
}

.main-projects-wrapper-card-info-icon {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-projects-wrapper-card-info-icon::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 16px;
    background: url(/assets/icons/arrow.svg);
}

.main-experience {
    display: flex;
    align-items: stretch;
    padding: 140px 120px;
    background: var(--secondary);
    margin-bottom: 130px;
}

.main-experience-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1 1 auto;
}

.main-experience-card-title {
    font-family: var(--display);
    font-size: 85px;
    line-height: 150%;
    text-align: center;
    color: var(--accent);
    padding-top: 14px;
}

.main-experience-card-descr {
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}

.main-experience-card-divider {
    flex-basis: 1px;
    background: var(--accent);
}

.main-blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 100px;
}

.main-blogs-title {
    font-family: var(--display);
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: var(--light-black);
    padding: 14px 0 20px;
}

.main-blogs-descr {
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: var(--gray);
    width: 70%;
    padding-bottom: 70px;
}

.main-blogs-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 0 10px 40px;
    column-gap: 20px;
    row-gap: 40px;
}

.main-blogs-wrapper-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    padding: 22px 22px 40px;
    border: 1px solid var(--border);
    border-radius: 62px;
}

.main-blogs-wrapper-card-img {
    width: 100%;
    height: 296px;
    border-radius: 45px 45px 0 0;
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 24px;
}

.main-blogs-wrapper-card-img-span {
    border-radius: 8px 8px 8px 0;
    background: var(--white);
    padding: 10px;
    line-height: 150%;
    color: var(--gray);
}

.main-blogs-wrapper-card-title {
    padding: 15px 0 20px;
    font-family: var(--display);
    font-size: 25px;
    line-height: 140%;
    color: var(--light-black);
}

.main-blogs-wrapper-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-blogs-wrapper-card-info-span {
    line-height: 150%;
    color: var(--gray);}

.main-blogs-wrapper-card-info-icon {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-blogs-wrapper-card-info-icon::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 16px;
    background: url(/assets/icons/arrow.svg);
}